@import url( 'style.css' );
@import url("assets/css/base.css");
@import url("assets/css/variations.css");
@import url("../canvas/functions/css/shortcodes.css");
@import url( 'custom.css' );

body#tinymce.wp-editor { 
    max-width:660px; 
    margin:10px; 
}

body#tinymce.wp-editor.post-type-slide {
	max-width: 950px;
}
