/*
Theme Name: Lieu
Version: 1.0
Description: A website template based on Canvas by WooThemes
Author: Renegade Empire
Author URI: http://www.renegade-empire.com
Template: canvas
*/
 
@import url("../canvas/style.css");